@import "tailwindcss";

@layer components {
  .page-section-layout {
    @apply mx-auto my-8 w-full max-w-screen-xl px-4 md:my-16 md:px-14;
  }

  .section-flex {
    @apply flex flex-col md:flex-row;
  }

  .card {
    @apply rounded-xl shadow shadow-slate-700;
  }

  .hero-button {
    @apply m-auto block w-3/4 rounded-full text-center hover:underline md:m-0 md:w-auto;
  }

  .selection-button {
    @apply rounded-full bg-slate-200 px-4 py-2 shadow shadow-slate-400 outline-offset-1 outline-slate-500 hover:not-[:has-checked]:bg-blue-200 has-checked:bg-slate-600 has-checked:text-white has-checked:shadow-none has-focus:outline md:px-6;
  }

  .section-header-text {
    @apply mx-auto my-4 text-3xl font-semibold md:text-4xl lg:mb-8;
  }

  .svg-subheader {
    @apply size-6 fill-blue-500 stroke-blue-500 md:size-8;
  }
}

@theme {
  --animate-sweep: sweep 0.7s ease-in-out;
  @keyframes sweep {
    0% {
      left: -100%;
      opacity: 100%;
    }

    100% {
      left: 100%;
      opacity: 100%;
    }
  }
}
